*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  min-width: 320px;
  background: var(--nmorph-main-color);
  color: var(--nmorph-text-color);
}

#app {
  min-height: 100vh;
}
