:root {
  --transition-04: 0.4s;
  --transition-03: 0.3s;
  --transition-02: 0.2s;
  --transition-01: 0.1s;
}

.list-enter-active,
.list-leave-active {
  transition: all var(--transition-02) ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.opacity-enter-active,
.opacity-list-leave-active {
  transition: all var(--transition-02) ease;
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}
