* {
  color: var(--text-color-01);
}

body {
  font-family: 'Helvetica', 'Roboto', Arial, sans-serif;
  @include body-1;
}

// HEIGHT
.nmorph--default-height-component {
  --height: var(--default-thickness-component);
  height: var(--height);
}
.nmorph--thin-component {
  --height: var(--thin-component);
  height: var(--height);
}
.nmorph--thick-component {
  --height: var(--thick-component);
  height: var(--height);
}

// INPUTS
.nmorph--thin-component.nmorph-native-input {
  @include body-3;
}

.nmorph--focused {
}

.nmorph-native-input:focus {
  color: var(--text-color-00);
}

.nmorph-native-input:focus::placeholder {
  color: var(--text-color-00);
}

// WIDTH
.nmorph--fill {
  width: 100%;
}
