:root {
  --main-bg: #ebf3fa;

  --darker-color: #c3cad0;
  --lighter-color: #ffffff;

  --info-color-00: #5b8ce6;
  --info-color-01: #2a60c2;

  --accent-color-00: #687b9e72;
  --accent-color-01: #687b9e;
  --accent-color-02: #687b9e34;

  --success-color-00: rgb(77, 186, 77);
  --success-color-01: rgb(44, 163, 44);

  --error-color-00: rgb(188, 101, 101);
  --error-color-01: rgb(159, 50, 50);

  --warning-color-00: rgb(214, 191, 90);
  --warning-color-01: rgb(183, 159, 51);

  --text-00: #ffffff;
  --text-01: #687b9e;
  --text-02: #8498bc;

  &[data-theme='dark'] {
    $main-bg: #383143;
    --main-bg: #383143;
    --darker-color: #{darken($main-bg, 10%)};
    --lighter-color: #{lighten($main-bg, 10%)};
  }
}
