$base-shadow-width: 4px;
$base-shadow-blur: $base-shadow-width * 2.5;
$nmorph-wrapper-padding: $base-shadow-width * 1.5;
$base-input-indentation: 8px;

$default-input-height: 32px;
$small-input-height: 24px;
$xs-input-height: 14px;
