$base-shadow-width: 4px;
$base-shadow-blur: $base-shadow-width * 2.5;
$nmorph-wrapper-padding: $base-shadow-width * 1.5;
$base-input-indentation: 8px;

$thick-input-height: 32px;
$thin-input-height: 24px;
$extra-thick-input-height: 14px;
