@mixin nmorph-outset() {
  background: var(--main-bg);
  box-shadow:
    var(--base-shadow-width) var(--base-shadow-width) var(--base-shadow-blur) var(--darker-color),
    calc(-1 * var(--base-shadow-width)) calc(-1 * var(--base-shadow-width)) var(--base-shadow-blur) var(--lighter-color);
}

@mixin nmorph-inset() {
  background: var(--main-bg);
  box-shadow:
    inset var(--base-shadow-width) var(--base-shadow-width) var(--base-shadow-blur) var(--darker-color),
    inset calc(-1 * var(--base-shadow-width)) calc(-1 * var(--base-shadow-width)) var(--base-shadow-blur)
      var(--lighter-color);
}

@mixin nmorph-combined() {
  background: var(--main-bg);
  box-shadow:
    var(--base-shadow-width) var(--base-shadow-width) var(--base-shadow-blur) var(--darker-color),
    calc(-1 * var(--base-shadow-width)) calc(-1 * var(--base-shadow-width)) var(--base-shadow-blur) var(--lighter-color),
    inset var(--base-shadow-width) var(--base-shadow-width) var(--base-shadow-blur) var(--darker-color),
    inset calc(-1 * var(--base-shadow-width)) calc(-1 * var(--base-shadow-width)) var(--base-shadow-blur)
      var(--lighter-color);
}

@mixin nmorph-wrapper() {
  padding: var(--nmorph-wrapper-padding);
  box-sizing: content-box;
}

@mixin nmorph-dark-shadow() {
  background: var(--main-bg);
  box-shadow: 0 0 var(--base-shadow-blur) var(--darker-color);
}
