:root {
  --el-font-size-extra-small: 12px;
  --el-font-size-small: 13px;
  --el-font-size-base: 14px;

  --el-font-size-medium: 16px;
  --el-font-size-large: 18px;
  --el-font-size-extra-large: 20px;

  --line-height-line: 1;
  --line-height-compact: 1.3;
  --line-height-regular: 1.5;
  --line-height-loose: 1.7;
}

@mixin body-3 {
  font-size: var(--el-font-size-extra-small);
  line-height: var(--line-height-regular);
}

@mixin body-2 {
  font-size: var(--el-font-size-small);
  line-height: var(--line-height-regular);
}

@mixin body-1 {
  font-size: var(--el-font-size-base);
  line-height: var(--line-height-regular);
}

@mixin title-3 {
  font-size: var(--el-font-size-medium);
  line-height: var(--line-height-loose);
}

@mixin title-2 {
  font-size: var(--el-font-size-large);
  line-height: var(--line-height-loose);
  font-weight: 600;
}

@mixin title-1 {
  font-size: var(--el-font-size-extra-large);
  line-height: var(--line-height-loose);
  font-weight: 800;
}

.nmorph-body-3 {
  @include body-3;
}

.nmorph-body-2 {
  @include body-2;
}

.nmorph-body-1 {
  @include body-1;
}

.nmorph-title-3 {
  @include title-3;
}

.nmorph-title-2 {
  @include title-2;
}

.nmorph-title-1 {
  @include title-1;
}
