@mixin nmorph-border($border-width: 0) {
  border: $border-width solid var(--nmorph-main-color);
}

@mixin nmorph-outset() {
  background: var(--nmorph-main-color);
  box-shadow:
    var(--base-shadow-width) var(--base-shadow-width) var(--base-shadow-blur) var(--nmorph-dark-shade-color),
    calc(-1 * var(--base-shadow-width)) calc(-1 * var(--base-shadow-width)) var(--base-shadow-blur)
      var(--nmorph-light-shade-color);
}

@mixin nmorph-inset() {
  background: var(--nmorph-main-color);
  box-shadow:
    inset var(--base-shadow-width) var(--base-shadow-width) var(--base-shadow-blur) var(--nmorph-dark-shade-color),
    inset calc(-1 * var(--base-shadow-width)) calc(-1 * var(--base-shadow-width)) var(--base-shadow-blur)
      var(--nmorph-light-shade-color);
}

@mixin nmorph-combined($border-width: 0, $isInsetDark: false) {
  @include nmorph-border($border-width);

  background: var(--nmorph-main-color);
  box-shadow:
    var(--base-shadow-width) var(--base-shadow-width) var(--base-shadow-blur) var(--nmorph-dark-shade-color),
    calc(-1 * var(--base-shadow-width)) calc(-1 * var(--base-shadow-width)) var(--base-shadow-blur)
      var(--nmorph-light-shade-color),
    inset var(--base-shadow-width) var(--base-shadow-width) var(--base-shadow-blur) var(--nmorph-dark-shade-color),
    inset calc(-1 * var(--base-shadow-width)) calc(-0.5 * var(--base-shadow-width)) var(--base-shadow-blur) #{if(
        $isInsetDark,
        var(--nmorph-dark-shade-color),
        var(--nmorph-light-shade-color)
      )};
}

@mixin nmorph-wrapper() {
  box-sizing: content-box;
  padding: var(--nmorph-wrapper-padding);
}

@mixin nmorph-dark-shadow() {
  background: var(--nmorph-main-color);
  box-shadow: 0 0 var(--base-shadow-blur) var(--nmorph-dark-shade-color);
}

@mixin body-4 {
  font-weight: 400;
  font-size: var(--font-size-tiny);
  line-height: var(--line-height-regular);
}

@mixin body-3 {
  font-weight: 400;
  font-size: var(--font-size-extra-small);
  line-height: var(--line-height-regular);
}

@mixin body-2 {
  font-weight: 400;
  font-size: var(--font-size-small);
  line-height: var(--line-height-regular);
}

@mixin body-1 {
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: var(--line-height-regular);
}

@mixin title-4 {
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: var(--line-height-loose);
}

@mixin title-3 {
  font-weight: 600;
  font-size: var(--font-size-medium);
  line-height: var(--line-height-loose);
}

@mixin title-2 {
  font-weight: 600;
  font-size: var(--font-size-large);
  line-height: var(--line-height-loose);
}

@mixin title-1 {
  font-weight: 800;
  font-size: var(--font-size-extra-large);
  line-height: var(--line-height-loose);
}

@mixin disabled() {
  cursor: not-allowed;
  opacity: 0.6;
}

@mixin wh100() {
  width: 100%;
  height: 100%;
}

@mixin flex-full-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-zero() {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin overlay($zIndex: 1) {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zIndex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--nmorph-overlay-color);
  transition: ease-in-out var(--transition-02) opacity;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin focus-outline() {
  outline: 2px solid var(--nmorph-accent-color);
}
