pre {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1em;
  height: calc(100% - 20px);
}

code {
  margin: 0;
  padding: 0;
  white-space: pre;
}

.hljs {
  background: var(--main-bg);
}
