:root {
  --header-height: 50px;
  --footer-height: 20px;
  --margin: 8px;

  --container-height: calc(
    100vh - var(--header-height) - var(--footer-height) - (var(--margin) * 3) -
      16px
  );
}

@mixin max-width-query($breakpoint) {
  @media (max-width: #{$breakpoint}px) {
    @content;
  }
}

@include max-width-query(768) {
  :root {
  }
}

.page {
  height: var(--container-height);
  margin: var(--margin);
}
